# Logs
**/logs/**
*.log
npm-debug.log*
.pnpm-debug.log*

# Dependencies
**/node_modules/**

# Caches
*.tsbuildinfo
**/.npm/**

# Lockfiles
package-lock.json
yarn.lock

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.DS_Store
