# Logs
**/logs/**
*.log
npm-debug.log*
.pnpm-debug.log*

# Dependencies
**/node_modules/**

# Caches
**/cache/**
*.tsbuildinfo
**/.npm/**

# Lockfiles
package-lock.json
yarn.lock

# Miscellaneous
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
